body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.course-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    width: 200px;
    border: 1px solid black;
}

.course-card {
    border: 1px solid black;
    padding: 10px;
    margin: 1px;
    /* background-color: rgb(221, 239, 221); */
    cursor: pointer;
}

.course-card:nth-child(odd) {
    background-color: rgb(221, 239, 221);
}

.course-card:nth-child(even) {
    background-color: white;
}


.course-name {
    margin: 0;
    text-align: center;
}

.course-description {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.course-credit {
    margin: 0;
    text-align: center;
}

.course-type {
    margin: 0;
    text-align: center;
}


.selected-course-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    width: 200px;
    border: 1px solid black;
}

.available-courses .selected-course-card {
    border: 1px solid black;
    padding: 10px;
    margin: 1px;
    background-color: deepskyblue;
    cursor: pointer;
}

.selected-course-card .course-name {
    margin: 0;
    text-align: center;
}

.selected-course-card .course-description {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
}

